.clearfix:after{
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.button{
  background: green;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 16px;
  margin-bottom: 40px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}

#boardBox{
  border: 1px solid green;
  width: 400px;
}

.space{
  box-sizing: border-box;
  clear: right;
  float: left;
  height: 50px;
  width:50px;
}

.space.green{
  background: green;
}
